In [9]:
import pandas as pd
import Bio as bio
from Bio import SeqIO
from Bio import GenBank
import re
import numpy as np

In [10]:
print (bio.__version__)

1.79

In [11]:
open('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.genomic.gbff',"w").write(open('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.1.genomic.gbff',"r").read() + open('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.2.genomic.gbff',"r").read())

860226245

In [12]:
ids = [seq_record.id for seq_record in SeqIO.parse('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.genomic.gbff', "genbank")]

/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057213. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057212. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057211. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057214. Is it malformed?
  warnings.warn(

In [13]:
print(len(ids))

12173

In [14]:
d = {"RefSeqID":pd.Series(ids, index=range(0,len(ids)))}
MtDnaFullList = pd.DataFrame(d)

In [20]:
MtDnaFullList

          RefSeqID               SpeciesNames
0      NC_012975.1         Oryzias minutillus
1      NC_012976.1            Oryzias dancena
2      NC_012979.1         Oryzias luzonensis
3      NC_014671.1      Ammothea carolinensis
4      NC_012981.1          Oryzias javanicus
...            ...                        ...
12168  NC_022255.1     Microchloropsis salina
12169  NC_022256.1  Nannochloropsis limnetica
12170  NC_022257.1    Nannochloropsis oculata
12171  NC_013704.1          Tanakia koreensis
12172  NC_013705.1  Acheilognathus intermedia

[12173 rows x 2 columns]

In [21]:
MtDnaFullList['SpeciesNames'] = [seq_record.annotations["organism"] for seq_record in SeqIO.parse('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.genomic.gbff', "genbank")]

/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057213. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057212. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057211. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057214. Is it malformed?
  warnings.warn(

In [22]:
MtDnaFullList['Taxonomy'] = [seq_record.annotations["taxonomy"] for seq_record in SeqIO.parse('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.genomic.gbff', "genbank")]

In [23]:
MtDnaFullList.head()

,RefSeqID,SpeciesNames,Taxonomy
0,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
1,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
2,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
3,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch..."
4,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."

In [25]:
MtDnaFullList.to_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/01_MtDnaFullList.csv', sep=";")

In [ ]:
## подсчет геномных характеристик

In [ ]:
MtDnaFullList['Lenght'] = [len(seq_record) for seq_record in SeqIO.parse('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.genomic.gbff', "genbank")]

In [ ]:
MtDnaFullList['Num_A'] = [seq_record.seq.count("A") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaFullList['Num_T'] = [seq_record.seq.count("T") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaFullList['Num_G'] = [seq_record.seq.count("G") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaFullList['Num_C'] = [seq_record.seq.count("C") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

In [34]:
MtDnaFullList['%A'] = 100 * MtDnaFullList['Num_A'] / MtDnaFullList['Lenght']
MtDnaFullList['%T'] = 100 * MtDnaFullList['Num_T'] / MtDnaFullList['Lenght']
MtDnaFullList['%G'] = 100 * MtDnaFullList['Num_G'] / MtDnaFullList['Lenght']
MtDnaFullList['%C'] = 100 * MtDnaFullList['Num_C'] / MtDnaFullList['Lenght']

In [35]:
MtDnaFullList['GC'] = MtDnaFullList['%G'] + MtDnaFullList['%C']

In [39]:
MtDnaFullList = MtDnaFullList.drop(np.where(MtDnaFullList['GC'] == 0)[0])

In [41]:
MtDnaFullList['log2Lenght'] = np.log2(MtDnaFullList['Lenght'])

In [1]:
## отдельный файл с таксономией

In [4]:
MtDnaFullList = pd.read_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\MtDnaFullList.csv', sep="\t")

In [5]:
new_df = MtDnaFullList['Taxonomy'].str.split(', ',expand=True)

In [6]:
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
1,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
2,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
3,['Eukaryota','Metazoa','Ecdysozoa','Arthropoda','Chelicerata','Pycnogonida','Pantopoda','Ammotheidae','Ammothea'],None,...,None,None,None,None,None,None,None,None,None,None
4,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None

In [6]:
new_df[1].value_counts()

'Metazoa'                             9585
'Fungi'                                478
'Viridiplantae'                        304
'Stramenopiles'                        109
'Rhodophyta'                            83
'Alveolata'                             45
'Amoebozoa'                             11
'Cryptophyta'                            8
'Jakobida'                               6
'Nucleariidae and Fonticula group'       5
'Heterolobosea'                          5
'Glaucocystophyceae'                     4
'Rhizaria'                               4
'Ichthyosporea'                          2
'Haptophyceae'                           2
'Malawimonadidae'                        2
'Sar'                                    1
'Collodictyonidae'                       1
'Euglenozoa'                             1
'Filasterea'                             1
'Tsukubamonadidae'                       1
'Choanoflagellida'                       1
'Apusozoa'                               1
'Cryptophyceae'                          1
Name: 1, dtype: int64

In [16]:
new_df[2].value_counts()

'Chordata'          5550
'Ecdysozoa'         2927
'Lophotrochozoa'     569
'Dikarya'            449
'Streptophyta'       228
                    ...
'Isochrysidales'       1
'Cyanoptyche']         1
'Chrysophyceae'        1
'Ichthyophonida'       1
'Seculamonas']         1
Name: 2, Length: 70, dtype: int64

In [17]:
new_df.to_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\Taxonomy.csv', sep="\t")

In [8]:
human = SeqIO.parse('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/sequence.gb', format='genbank')
for seq in human:
    for feature in seq.features:
        if feature.type == 'CDS' and feature.strand != 1:
            print(feature)
            print(feature.extract(seq.seq))

type: CDS
location: [14148:14673](-)
qualifiers:
    Key: codon_start, Value: ['1']
    Key: db_xref, Value: ['GeneID:4541', 'HGNC:HGNC:7462', 'MIM:516006']
    Key: gene, Value: ['ND6']
    Key: gene_synonym, Value: ['MTND6']
    Key: note, Value: ['NADH dehydrogenase, subunit 6 (complex I)']
    Key: product, Value: ['NADH dehydrogenase subunit 6']
    Key: protein_id, Value: ['YP_003024037.1']
    Key: transl_table, Value: ['2']
    Key: translation, Value: ['MMYALFLLSVGLVMGFVGFSSKPSPIYGGLVLIVSGVVGCVIILNFGGGYMGLMVFLIYLGGMMVVFGYTTAMAIEEYPEAWGSGVEVLVSVLVGLAMEVGLVLWVKEYDGVVVVVNFNSVGSWMIYEGEGSGLIREDPIGAGALYDYGRWLVVVTGWTLFVGVYIVIEIARGN']

ATGATGTATGCTTTGTTTCTGTTGAGTGTGGGTTTAGTAATGGGGTTTGTGGGGTTTTCTTCTAAGCCTTCTCCTATTTATGGGGGTTTAGTATTGATTGTTAGCGGTGTGGTCGGGTGTGTTATTATTCTGAATTTTGGGGGAGGTTATATGGGTTTAATAGTTTTTTTAATTTATTTAGGGGGAATGATGGTTGTCTTTGGATATACTACAGCGATGGCTATTGAGGAGTATCCTGAGGCATGGGGGTCAGGGGTTGAGGTCTTGGTGAGTGTTTTAGTGGGGTTAGCGATGGAGGTAGGATTGGTGCTGTGGGTGAAAGAGTATGATGGGGTGGTGGTTGTGGTAAACTTTAATAGTGTAGGAAGCTGAATAATTTATGAAGGAGAGGGGTCAGGGTTGATTCGGGAGGATCCTATTGGTGCGGGGGCTTTGTATGATTATGGGCGTTGATTAGTAGTAGTTACTGGTTGAACATTGTTTGTTGGTGTATATATTGTAATTGAGATTGCTCGGGGGAATAGG