In [1]:
import pandas as pd
import Bio as bio
from Bio import SeqIO
from Bio import GenBank
import re
import numpy as np

In [4]:
print (bio.__version__)

1.77

In [5]:
ids = [seq_record.id for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(

In [6]:
print(len(ids))

10664

In [7]:
d = {"RefSeqID":pd.Series(ids, index=range(1,10665))}
MtDnaFullList = pd.DataFrame(d)

In [8]:
MtDnaFullList.head()

      RefSeqID
1  NC_012975.1
2  NC_012976.1
3  NC_012979.1
4  NC_014671.1
5  NC_012981.1

In [9]:
MtDnaFullList['SpeciesNames'] = [seq_record.annotations["organism"] for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(

In [10]:
MtDnaFullList['Taxonomy'] = [seq_record.annotations["taxonomy"] for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

In [42]:
MtDnaFullList.head()

,RefSeqID,SpeciesNames,Taxonomy,Lenght,Num_A,Num_T,Num_G,Num_C,%A,%T,%G,%C,GC,log2Lenght
1,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",16953,4969,4978,2935,4071,29.310447,29.363534,17.312570,24.013449,41.326019,14.049253
2,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",16863,4888,5168,2778,4029,28.986539,30.646979,16.473937,23.892546,40.366483,14.041574
3,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",16666,4403,4556,3103,4604,26.419057,27.337093,18.618745,27.625105,46.243850,14.024620
4,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch...",15101,6379,5767,1121,1834,42.242236,38.189524,7.423349,12.144891,19.568241,13.882356
5,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",16892,4523,4616,3004,4749,26.775989,27.326545,17.783566,28.113900,45.897466,14.044053

In [31]:
MtDnaFullList['Lenght'] = [len(seq_record) for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(

In [32]:
MtDnaFullList['Num_A'] = [seq_record.seq.count("A") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaFullList['Num_T'] = [seq_record.seq.count("T") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaFullList['Num_G'] = [seq_record.seq.count("G") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaFullList['Num_C'] = [seq_record.seq.count("C") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

In [34]:
MtDnaFullList['%A'] = 100 * MtDnaFullList['Num_A'] / MtDnaFullList['Lenght']
MtDnaFullList['%T'] = 100 * MtDnaFullList['Num_T'] / MtDnaFullList['Lenght']
MtDnaFullList['%G'] = 100 * MtDnaFullList['Num_G'] / MtDnaFullList['Lenght']
MtDnaFullList['%C'] = 100 * MtDnaFullList['Num_C'] / MtDnaFullList['Lenght']

In [35]:
MtDnaFullList['GC'] = MtDnaFullList['%G'] + MtDnaFullList['%C']

In [39]:
MtDnaFullList = MtDnaFullList.drop(np.where(MtDnaFullList['GC'] == 0)[0])

In [41]:
MtDnaFullList['log2Lenght'] = np.log2(MtDnaFullList['Lenght'])

In [44]:
MtDnaFullList.to_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\MtDnaFullList.csv', sep=";")

In [1]:
## ЧАСТЬ 2
## отдельный файл с таксономией

In [4]:
MtDnaFullList = pd.read_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\MtDnaFullList.csv', sep="\t")

In [5]:
new_df = MtDnaFullList['Taxonomy'].str.split(', ',expand=True)

In [6]:
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
1,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
2,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
3,['Eukaryota','Metazoa','Ecdysozoa','Arthropoda','Chelicerata','Pycnogonida','Pantopoda','Ammotheidae','Ammothea'],None,...,None,None,None,None,None,None,None,None,None,None
4,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None

In [6]:
new_df[1].value_counts()

'Metazoa'                             9585
'Fungi'                                478
'Viridiplantae'                        304
'Stramenopiles'                        109
'Rhodophyta'                            83
'Alveolata'                             45
'Amoebozoa'                             11
'Cryptophyta'                            8
'Jakobida'                               6
'Nucleariidae and Fonticula group'       5
'Heterolobosea'                          5
'Glaucocystophyceae'                     4
'Rhizaria'                               4
'Ichthyosporea'                          2
'Haptophyceae'                           2
'Malawimonadidae'                        2
'Sar'                                    1
'Collodictyonidae'                       1
'Euglenozoa'                             1
'Filasterea'                             1
'Tsukubamonadidae'                       1
'Choanoflagellida'                       1
'Apusozoa'                               1
'Cryptophyceae'                          1
Name: 1, dtype: int64

In [16]:
new_df[2].value_counts()

'Chordata'          5550
'Ecdysozoa'         2927
'Lophotrochozoa'     569
'Dikarya'            449
'Streptophyta'       228
                    ...
'Isochrysidales'       1
'Cyanoptyche']         1
'Chrysophyceae'        1
'Ichthyophonida'       1
'Seculamonas']         1
Name: 2, Length: 70, dtype: int64

In [17]:
new_df.to_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\Taxonomy.csv', sep="\t")