In [3]:
import pandas as pd
import Bio as bio
from Bio import SeqIO
from Bio import GenBank

In [13]:
import re

In [40]:
print (bio.__version__)

1.77

In [41]:
ids = [seq_record.id for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.1.genomic.gbff", "genbank")]

In [42]:
print(len(ids))

7439

In [43]:
d = {"RefSeqID":pd.Series(ids, index=range(1,7440))}
MtDnaList1 = pd.DataFrame(d)

In [44]:
MtDnaList1.head()

      RefSeqID
1  NC_012975.1
2  NC_012976.1
3  NC_012979.1
4  NC_014671.1
5  NC_012981.1

In [45]:
MtDnaList1['SpeciesNames'] = [seq_record.annotations["organism"] for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.1.genomic.gbff", "genbank")]

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(

In [46]:
MtDnaList1['Taxonomy'] = [seq_record.annotations["taxonomy"] for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.1.genomic.gbff", "genbank")]

In [47]:
# Файл 2

ids = [seq_record.id for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.2.genomic.gbff", "genbank")]
print(len(ids))

3225

In [48]:
d = {"RefSeqID":pd.Series(ids, index=range(1,3226))}
MtDnaList2 = pd.DataFrame(d)

In [49]:
MtDnaList2['SpeciesNames'] = [seq_record.annotations["organism"] for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.2.genomic.gbff", "genbank")]
MtDnaList2['Taxonomy'] = [seq_record.annotations["taxonomy"] for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.2.genomic.gbff", "genbank")]

In [50]:
MtDnaList1.head()

,RefSeqID,SpeciesNames,Taxonomy
1,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
2,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
3,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
4,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch..."
5,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."

In [51]:
MtDnaList2.head()

,RefSeqID,SpeciesNames,Taxonomy
1,NC_002529.1,Schistosoma mekongi,"[Eukaryota, Metazoa, Platyhelminthes, Trematod..."
2,NC_002545.1,Schistosoma mansoni,"[Eukaryota, Metazoa, Platyhelminthes, Trematod..."
3,NC_002546.1,Fasciola hepatica,"[Eukaryota, Metazoa, Platyhelminthes, Trematod..."
4,NC_002547.1,Taenia crassiceps,"[Eukaryota, Metazoa, Platyhelminthes, Cestoda,..."
5,NC_002544.1,Schistosoma japonicum,"[Eukaryota, Metazoa, Platyhelminthes, Trematod..."

In [52]:
MtDnaFullList = pd.concat([MtDnaList1, MtDnaList2])
MtDnaFullList.to_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\MtDnaFullList.csv', sep="\t")

In [53]:
MtDnaFullList.head()

,RefSeqID,SpeciesNames,Taxonomy
1,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
2,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
3,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."
4,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch..."
5,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte..."

In [1]:
## ЧАСТЬ 2

import re

In [4]:
MtDnaFullList = pd.read_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\MtDnaFullList.csv', sep="\t")

In [5]:
new_df = MtDnaFullList['Taxonomy'].str.split(', ',expand=True)

In [6]:
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
1,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
2,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None
3,['Eukaryota','Metazoa','Ecdysozoa','Arthropoda','Chelicerata','Pycnogonida','Pantopoda','Ammotheidae','Ammothea'],None,...,None,None,None,None,None,None,None,None,None,None
4,['Eukaryota','Metazoa','Chordata','Craniata','Vertebrata','Euteleostomi','Actinopterygii','Neopterygii','Teleostei','Neoteleostei',...,'Ovalentaria','Atherinomorphae','Beloniformes','Adrianichthyidae','Oryziinae','Oryzias'],None,None,None,None

In [6]:
new_df[1].value_counts()

'Metazoa'                             9585
'Fungi'                                478
'Viridiplantae'                        304
'Stramenopiles'                        109
'Rhodophyta'                            83
'Alveolata'                             45
'Amoebozoa'                             11
'Cryptophyta'                            8
'Jakobida'                               6
'Nucleariidae and Fonticula group'       5
'Heterolobosea'                          5
'Glaucocystophyceae'                     4
'Rhizaria'                               4
'Ichthyosporea'                          2
'Haptophyceae'                           2
'Malawimonadidae'                        2
'Sar'                                    1
'Collodictyonidae'                       1
'Euglenozoa'                             1
'Filasterea'                             1
'Tsukubamonadidae'                       1
'Choanoflagellida'                       1
'Apusozoa'                               1
'Cryptophyceae'                          1
Name: 1, dtype: int64

In [14]:
for line in new_df: 
    if re.match(r'Metazoa', line) in line:
        group = 'Metazoa'
        print(group)

TypeError: expected string or bytes-like object

In [16]:
new_df[2].value_counts()

'Chordata'          5550
'Ecdysozoa'         2927
'Lophotrochozoa'     569
'Dikarya'            449
'Streptophyta'       228
                    ...
'Isochrysidales'       1
'Cyanoptyche']         1
'Chrysophyceae'        1
'Ichthyophonida'       1
'Seculamonas']         1
Name: 2, Length: 70, dtype: int64

In [17]:
new_df.to_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\Taxonomy.csv', sep="\t")