In [2]:
import pandas as pd
import Bio as bio
from Bio import SeqIO
from Bio import GenBank
import re
import numpy as np

In [2]:
Tax = pd.read_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/02_DeriveOfTaxonomyGroups.csv', sep=";")

In [3]:
Tax.head()

,X,RefSeqID,SpeciesNames,Taxonomy,Group1,Group2
0,0,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
1,1,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
2,2,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
3,3,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch...",Ecdysozoa,Ecdysozoa:Chelicerata
4,4,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii

In [4]:
sequences = SeqIO.parse('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/1Raw/mitochondrion.genomic.gbff', "genbank")
for seq_record in sequences:
    try:
        idx = seq_record.id
        Tax.loc[Tax['RefSeqID'] == idx, 'Length'] = len(seq_record.seq)
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_A'] = seq_record.seq.count('A')
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_T'] = seq_record.seq.count('T')
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_G'] = seq_record.seq.count('G')
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_C'] = seq_record.seq.count('C')
    except:
        idx = seq_record.id
        Tax.loc[Tax['RefSeqID'] == idx, 'Length'] = 'NaN'
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_A'] = 'NaN'
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_T'] = 'NaN'
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_G'] = 'NaN'
        Tax.loc[Tax['RefSeqID'] == idx, 'Num_C'] = 'NaN'

/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057213. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057212. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057211. Is it malformed?
  warnings.warn(
/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1794: BiopythonParserWarning: Structured comment not parsed for NC_057214. Is it malformed?
  warnings.warn(

In [5]:
Tax.drop(['X'], axis='columns', inplace=True)

In [6]:
Tax = Tax.drop(np.where(Tax['Length'] == 'NaN')[0])

In [7]:
Tax.reset_index(drop=True, inplace=True)

In [8]:
Tax[['Length', 'Num_A', 'Num_T', 'Num_C', 'Num_G']] = Tax[['Length', 'Num_A', 'Num_T', 'Num_C', 'Num_G']].astype('int')

In [9]:
Tax

,RefSeqID,SpeciesNames,Taxonomy,Group1,Group2,Length,Num_A,Num_T,Num_G,Num_C
0,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16953,4969,4978,2935,4071
1,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16863,4888,5168,2778,4029
2,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16666,4403,4556,3103,4604
3,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch...",Ecdysozoa,Ecdysozoa:Chelicerata,15101,6379,5767,1121,1834
4,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16892,4523,4616,3004,4749
...,...,...,...,...,...,...,...,...,...,...
12083,NC_022255.1,Microchloropsis salina,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles,41907,13544,15200,7101,6062
12084,NC_022256.1,Nannochloropsis limnetica,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles,38543,12361,13966,6562,5654
12085,NC_022257.1,Nannochloropsis oculata,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles,38444,12361,13880,6566,5637
12086,NC_013704.1,Tanakia koreensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16563,4669,4372,3002,4520
12087,NC_013705.1,Acheilognathus intermedia,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16610,4726,4315,2910,4659

In [10]:
Tax['PrA'] = 100 * Tax['Num_A'] / Tax['Length']
Tax['PrT'] = 100 * Tax['Num_T'] / Tax['Length']
Tax['PrG'] = 100 * Tax['Num_G'] / Tax['Length']
Tax['PrC'] = 100 * Tax['Num_C'] / Tax['Length']

In [11]:
Tax['GC'] = Tax['PrG'] + Tax['PrC']

In [12]:
Tax.to_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/03_AddGenomeParameters.csv', sep=";")

In [3]:
Tax = pd.read_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/03_AddGenomeParameters.csv', sep=";")

In [4]:
Tax

,Unnamed: 0,RefSeqID,SpeciesNames,Taxonomy,Group1,Group2,Length,Num_A,Num_T,Num_G,Num_C,PrA,PrT,PrG,PrC,GC
0,0,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16953,4969,4978,2935,4071,29.310447,29.363534,17.312570,24.013449,41.326019
1,1,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16863,4888,5168,2778,4029,28.986539,30.646979,16.473937,23.892546,40.366483
2,2,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16666,4403,4556,3103,4604,26.419057,27.337093,18.618745,27.625105,46.243850
3,3,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch...",Ecdysozoa,Ecdysozoa:Chelicerata,15101,6379,5767,1121,1834,42.242236,38.189524,7.423349,12.144891,19.568241
4,4,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16892,4523,4616,3004,4749,26.775989,27.326545,17.783566,28.113900,45.897466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12083,12083,NC_022255.1,Microchloropsis salina,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles,41907,13544,15200,7101,6062,32.319183,36.270790,16.944663,14.465364,31.410027
12084,12084,NC_022256.1,Nannochloropsis limnetica,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles,38543,12361,13966,6562,5654,32.070674,36.234855,17.025141,14.669330,31.694471
12085,12085,NC_022257.1,Nannochloropsis oculata,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles,38444,12361,13880,6566,5637,32.153262,36.104464,17.079388,14.662886,31.742274
12086,12086,NC_013704.1,Tanakia koreensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16563,4669,4372,3002,4520,28.189338,26.396184,18.124736,27.289742,45.414478
12087,12087,NC_013705.1,Acheilognathus intermedia,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii,16610,4726,4315,2910,4659,28.452739,25.978326,17.519567,28.049368,45.568934

In [5]:
Tax['Group3'] = 'Eukaryota'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Fungi', na=False)] = 'Fungi'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Viridiplantae', na=False)] = 'Plants'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Metazoa', na=False)] = 'Invertebrates'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata', na=False)] = 'Vertebrata'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata' and 'Chondrichthyes', na=False)] = 'Chondrychthyes'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata' and 'Actinopterygii', na=False)] = 'Actinopterygii'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata' and 'Amphibia', na=False)] = 'Amphibia'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata' and 'Archelosauria')] = 'Reptilia'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata' and 'Lepidosauria', na=False)] = 'Reptilia'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata' and 'Aves', na=False)] = 'Aves'
Tax['Group3'].loc[Tax['Taxonomy'].str.contains('Vertebrata' and 'Mammalia', na=False)] = 'Mammalia'

/home/emulciber/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [6]:
Tax['GC'] = Tax['PrC'] + Tax['PrG']

In [7]:
Tax.groupby(['Group2'])['GC'].mean()

Group2
Chordata:Other                                32.307757
Cnidaria                                      36.829118
Ecdysozoa:Chelicerata                         25.318725
Ecdysozoa:Crustacea                           31.436064
Ecdysozoa:Hexapoda                            23.859948
Ecdysozoa:Nematoda                            25.608970
Echinodermata                                 37.249170
Eukaryota:Other                               28.979554
Fungi:Ascomycota                              26.441712
Fungi:Basidiomycota                           27.271890
Fungi:Other                                   34.789080
Lophotrochozoa:Mollusca                       33.236633
Metazoa:Other                                 33.498556
Platyhelmintes                                31.879866
Porifera                                      35.850808
Rhodophyta                                    29.721087
Stramenopiles                                 29.931250
Vertebrata:Actinopterygii                     44.553193
Vertebrata:Amphibia:Anura                     40.821835
Vertebrata:Amphibia:Caudata                   35.661148
Vertebrata:Amphibia:Other                     37.488180
Vertebrata:Archelosauria                      39.613440
Vertebrata:Chondrychthyes                     38.932814
Vertebrata:Dinosauria                         45.605263
Vertebrata:Lepidosauria                       41.120474
Vertebrata:Mammalia                           39.156480
Vertebrata:Other                              38.205467
Viridiplantae:Chlorophyta                     37.984766
Viridiplantae:Other                           45.781542
Viridiplantae:Streptophyta:Bryophyta          40.144184
Viridiplantae:Streptophyta:Marchantiophyta    44.744341
Viridiplantae:Streptophyta:Other              39.812117
Viridiplantae:Streptophyta:Tracheophyta       44.872360
Name: GC, dtype: float64