In [2]:
import pandas as pd
import Bio as bio
from Bio import SeqIO
from Bio import GenBank
import re

In [3]:
Tax = pd.read_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\MtDnaFullListWithTax.csv', sep=";")

In [4]:
Tax.head()

,X,RefSeqID,SpeciesNames,Taxonomy,Group1,Group2
0,1,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
1,2,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
2,3,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
3,4,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch...",Ecdysozoa,Ecdysozoa:Chelicerata
4,5,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii

In [5]:
ids = [seq_record.id for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(

In [6]:
print(len(ids))

10664

In [7]:
d = {"RefSeqID":pd.Series(ids, index=range(1,10665))}
MtDnaList = pd.DataFrame(d)

In [8]:
MtDnaList['Num_A'] = [seq_record.seq.count("A") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

In [9]:
MtDnaList['Num_T'] = [seq_record.seq.count("T") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaList['Num_G'] = [seq_record.seq.count("G") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]
MtDnaList['Num_C'] = [seq_record.seq.count("C") for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

In [14]:
MtDnaList.head()

,RefSeqID,Num_A,Num_T,Num_G,Num_C,Lenght,%A,%T,%G,%C
1,NC_012975.1,4969,4978,2935,4071,16953,29.310447,29.363534,17.312570,24.013449
2,NC_012976.1,4888,5168,2778,4029,16863,28.986539,30.646979,16.473937,23.892546
3,NC_012979.1,4403,4556,3103,4604,16666,26.419057,27.337093,18.618745,27.625105
4,NC_014671.1,6379,5767,1121,1834,15101,42.242236,38.189524,7.423349,12.144891
5,NC_012981.1,4523,4616,3004,4749,16892,26.775989,27.326545,17.783566,28.113900

In [11]:
MtDnaList['Lenght'] = [len(seq_record) for seq_record in SeqIO.parse(r"C:\Users\PC\Desktop\MitoClub\mtDnaInvertebrate\Body\1Raw\mitochondrion.genomic.gbff", "genbank")]

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037498. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037499. Is it malformed?
  warnings.warn(
C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\Bio\GenBank\Scanner.py:1806: BiopythonParserWarning: Structured comment not parsed for NC_037500. Is it malformed?
  warnings.warn(

In [13]:
MtDnaList['%A'] = 100 * MtDnaList['Num_A'] / MtDnaList['Lenght']
MtDnaList['%T'] = 100 * MtDnaList['Num_T'] / MtDnaList['Lenght']
MtDnaList['%G'] = 100 * MtDnaList['Num_G'] / MtDnaList['Lenght']
MtDnaList['%C'] = 100 * MtDnaList['Num_C'] / MtDnaList['Lenght']

In [15]:
Tax = Tax.merge(MtDnaList, how='outer')

In [16]:
Tax.to_csv(r'C:\Users\PC\Desktop\MitoClub\MtDnaInvertebrate\Body\2Derived\MtDnaWithParGen.csv', sep=";")