In [2]:
import pandas as pd
import os
import tqdm

## Simple codon usage

In [4]:
result = pd.DataFrame(columns = ['Unnamed: 0', 'GenName', 'ProteinID', 'OrganismName', 'Taxonomy', 'Strand', 'TTT','TTC','TTA','TTG','TCT','TCC','TCA','TCG','TAT','TAC','TGT','TGC','TGA','TGG','CTT','CTC','CTA','CTG','CCT','CCC','CCA','CCG','CAT','CAC','CAA','CAG','CGT','CGC','CGA','CGG','ATT','ATC','ATA','ATG','ACT','ACC','ACA','ACG','AAT','AAC','AAA','AAG','AGT','AGC','AGA','AGG','GTT','GTC','GTA','GTG','GCT','GCC','GCA','GCG','GAT','GAC','GAA','GAG','GGT','GGC','GGA','GGG','TAA','TAG'])
result

Empty DataFrame
Columns: [Unnamed: 0, GenName, ProteinID, OrganismName, Taxonomy, Strand, TTT, TTC, TTA, TTG, TCT, TCC, TCA, TCG, TAT, TAC, TGT, TGC, TGA, TGG, CTT, CTC, CTA, CTG, CCT, CCC, CCA, CCG, CAT, CAC, CAA, CAG, CGT, CGC, CGA, CGG, ATT, ATC, ATA, ATG, ACT, ACC, ACA, ACG, AAT, AAC, AAA, AAG, AGT, AGC, AGA, AGG, GTT, GTC, GTA, GTG, GCT, GCC, GCA, GCG, GAT, GAC, GAA, GAG, GGT, GGC, GGA, GGG, TAA, TAG]
Index: []

[0 rows x 70 columns]

In [5]:
direct = '/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/codon_usage'
dirname = os.listdir(direct)

In [6]:
for file in tqdm.tqdm(dirname):
    try:
        df = pd.read_csv((os.path.join(direct, file)), sep='\t')
        result = result.append(df, ignore_index=True)
    except:
        pass

100%|██████████| 12051/12051 [17:36<00:00, 11.41it/s]

In [7]:
result

,Unnamed: 0,GenName,ProteinID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,...,GAT,GAC,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG
0,0,ND1,YP_002332271.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,11,7,17,1,...,2,2,10,1,1,6,7,1,1,0
1,1,ND2,YP_002332272.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,6,3,20,0,...,3,0,4,0,1,4,9,0,0,0
2,2,COX1,YP_002332273.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,30,7,22,0,...,10,5,9,1,11,19,15,3,0,0
3,3,COX2,YP_002332274.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,6,2,8,1,...,4,5,10,3,3,3,2,0,0,0
4,4,ATP8,YP_002332275.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,4,2,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144699,7,ND3,YP_002456366.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,4,3,3,1,...,0,2,4,2,0,1,2,0,0,0
144700,8,ND4L,YP_002456367.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,3,1,1,0,...,1,0,1,1,1,3,0,0,1,0
144701,9,ND4,YP_002456368.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,7,9,8,1,...,1,3,7,2,1,8,7,1,0,0
144702,10,ND5,YP_002456369.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,25,20,12,2,...,4,8,9,2,1,10,12,3,1,0
144703,11,CYTB,YP_002456371.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,10,15,9,2,...,3,8,4,2,2,10,11,3,0,0

In [3]:
aa_mm = pd.read_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/AminoAcids_mismatched.csv', sep=';')
aa_mm

,Unnamed: 0,Unnamed: 0.1,OrganismName,GenName,ProteinID,Strand,TranslatedAminoAcids,GenBankAminoAcids
0,0,0,Sargassum horneri,atp9,YP_009049383.1,1.0,MLVQAAKLLGAGLATIGLAGAGVGIGTVFGALVLGTARNPSLKDEL...,MLVQAAKLLGAGLATIGLAGAGVGIGTVFGALVLGTARNPSLKDEL...
1,1,1,Sargassum horneri,rps8,YP_009049384.1,1.0,MLSKIFNKLRNSLSVYHFSTSFKEVGFCVKILDLLWKENLIRGYTK...,MLSKIFNKLRNSLSVYHFSTSFKEVGFCVKILDLLWKENLIRGYTK...
2,2,2,Sargassum horneri,rpl6,YP_009049385.1,1.0,MIAPVYSLPMGVNCLSNNGKVSVLGPRGIVDFDCVSKMHRKGNMIV...,MIAPVYRLPIGVNCLSNNGKVSVLGPRGIVDFDCVSKIHRKGNMIV...
3,3,3,Sargassum horneri,rps2,YP_009049386.1,1.0,MQKTKNSAILSFFVGSCGYLVPRFKNDDVTVSKTMQSYLLGKRDLY...,MQKTKNRAILSFFVGSCGYLVPRFKNDDVTVSKTIQSYLLGKRDLY...
4,4,4,Sargassum horneri,rps4,YP_009049387.1,1.0,MRFKPKYKSCIWTSTDIWGDLLCKEKTFLRPKWDLIMGVLGGRKRR...,MRFKPKYKSCIWTRTDIWGDLLCKEKTFLRPKWDLIMGVLGGRKRR...
...,...,...,...,...,...,...,...,...
14321,19,19,Chattonella marina,rps7,YP_003434227.1,1.0,MNSEMNYQNNTLLKKFVNLLMIHGKKRKAEKLLLNIFKNLHKSTKK...,MNSEINYQNNTLLKKFVNLLMIHGKKRKAEKLLLNIFKNLHKRTKK...
14322,20,20,Chattonella marina,nad4L,YP_003434228.1,1.0,MTLIYLLVLNSTLFILGLFGMIVNSKNVLIILMSIELILLGINMNF...,MTLIYLLVLNSTLFILGLFGMIVNRKNVLIILMSIELILLGINMNF...
14323,21,21,Chattonella marina,tatC,YP_003434230.1,1.0,MIFSQHFYELKFSLFYCIITLLSCWFMFYYYKYELLYLINLTNNQN...,MIFSQHFYELKFRLFYCIITLLSCWFIFYYYKYELLYLINLTNNQN...
14324,4,4,Saccharomyces pastorianus,hypothetical protein,YP_009310858.1,1.0,K,NREDPHYSNMMLNKSVLCWNVFIWMMNYYIIKWSANIMIMIMMFWG...
14325,6,6,Saccharomyces pastorianus,reverse transcriptase,YP_009310860.1,1.0,VRHFA,APFCLIYHCIEVLIDKHISVYSMNENFTVSFWFWFLVVTYMEFRYV...

In [4]:
exclude_list = list(aa_mm['ProteinID'])

In [44]:
result_wt_mm = result.loc[~result['ProteinID'].isin(exclude_list)]

In [5]:
Tax = pd.read_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/02_DeriveOfTaxonomyGroups.csv', sep=';')

In [27]:
Tax

,X,RefSeqID,SpeciesNames,Taxonomy,Group1,Group2
0,0,NC_012975.1,Oryzias minutillus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
1,1,NC_012976.1,Oryzias dancena,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
2,2,NC_012979.1,Oryzias luzonensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
3,3,NC_014671.1,Ammothea carolinensis,"[Eukaryota, Metazoa, Ecdysozoa, Arthropoda, Ch...",Ecdysozoa,Ecdysozoa:Chelicerata
4,4,NC_012981.1,Oryzias javanicus,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
...,...,...,...,...,...,...
12168,12168,NC_022255.1,Microchloropsis salina,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles
12169,12169,NC_022256.1,Nannochloropsis limnetica,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles
12170,12170,NC_022257.1,Nannochloropsis oculata,"[Eukaryota, Sar, Stramenopiles, Ochrophyta, Eu...",Stramenopiles,Stramenopiles
12171,12171,NC_013704.1,Tanakia koreensis,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii
12172,12172,NC_013705.1,Acheilognathus intermedia,"[Eukaryota, Metazoa, Chordata, Craniata, Verte...",Vertebrata,Vertebrata:Actinopterygii

In [6]:
Tax = Tax.loc[:, ['SpeciesNames', 'Group1', 'Group2']]
Tax = Tax.rename(columns={'SpeciesNames': 'OrganismName'})

In [45]:
result_wt_mm = result_wt_mm.merge(Tax, how='left', on='OrganismName')

In [48]:
result_wt_mm['Group3'] = 'Eukaryota'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Fungi', na=False)] = 'Fungi'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Viridiplantae', na=False)] = 'Plants'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Metazoa', na=False)] = 'Invertebrates'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata', na=False)] = 'Vertebrata'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Chondrichthyes', na=False)] = 'Chondrychthyes'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Actinopterygii', na=False)] = 'Actinopterygii'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Amphibia', na=False)] = 'Amphibia'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Archelosauria')] = 'Reptilia'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Lepidosauria', na=False)] = 'Reptilia'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Aves', na=False)] = 'Aves'
result_wt_mm['Group3'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Mammalia', na=False)] = 'Mammalia'

In [49]:
result_wt_mm

,Unnamed: 0,GenName,ProteinID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,...,GAG,GGT,GGC,GGA,GGG,TAA,TAG,Group1,Group2,Group3
0,0,ND1,YP_002332271.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,11,7,17,1,...,1,1,6,7,1,1,0,Vertebrata,Vertebrata:Lepidosauria,Vertebrata
1,1,ND2,YP_002332272.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,6,3,20,0,...,0,1,4,9,0,0,0,Vertebrata,Vertebrata:Lepidosauria,Vertebrata
2,2,COX1,YP_002332273.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,30,7,22,0,...,1,11,19,15,3,0,0,Vertebrata,Vertebrata:Lepidosauria,Vertebrata
3,3,COX2,YP_002332274.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,6,2,8,1,...,3,3,3,2,0,0,0,Vertebrata,Vertebrata:Lepidosauria,Vertebrata
4,4,ATP8,YP_002332275.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,4,2,1,0,...,0,0,0,0,0,1,0,Vertebrata,Vertebrata:Lepidosauria,Vertebrata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130573,7,ND3,YP_002456366.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,4,3,3,1,...,2,0,1,2,0,0,0,Vertebrata,Vertebrata:Mammalia,Mammalia
130574,8,ND4L,YP_002456367.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,3,1,1,0,...,1,1,3,0,0,1,0,Vertebrata,Vertebrata:Mammalia,Mammalia
130575,9,ND4,YP_002456368.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,7,9,8,1,...,2,1,8,7,1,0,0,Vertebrata,Vertebrata:Mammalia,Mammalia
130576,10,ND5,YP_002456369.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,25,20,12,2,...,2,1,10,12,3,1,0,Vertebrata,Vertebrata:Mammalia,Mammalia
130577,11,CYTB,YP_002456371.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,10,15,9,2,...,2,2,10,11,3,0,0,Vertebrata,Vertebrata:Mammalia,Mammalia

In [37]:
gainers = ['CCT', 'CCC', 'CCA', 'CCG', 'ACT', 'ACC', 'ACA', 'ACG', 'CAT', 'CAC', 'CAA', 'CAG', 'AAT', 'AAC', 'AAA', 'AAG']
losers = ['TTT', 'TTC', 'TTA', 'TTG', 'GTC', 'GTA', 'GTG', 'GTT', 'TGT', 'TGC', 'TGA', 'TGG', 'GGT', 'GGC', 'GGA', 'GGG']
intermediates = ['TCT', 'TCC', 'TCA', 'TCG', 'TAT', 'TAC', 'TAA', 'TAG', 'GCT', 'GCC', 'GCA', 'GCG', 'GAT', 'GAC', 'GAA', 'GAG', 'CTT', 'CTC', 'CTA', 'CTG', 'ATT', 'ATC', 'ATA', 'ATG', 'CGT', 'CGC', 'CGA', 'CGG', 'AGT', 'AGC', 'AGA', 'AGG']

In [38]:
result_wt_mm.loc[:, 'TTT':'TAG'] = result_wt_mm.loc[:, 'TTT':'TAG'].apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [39]:
result_wt_mm['Gainers'] = (result_wt_mm.loc[:, result_wt_mm.columns.isin(gainers)].sum(axis=1)) / (result_wt_mm.loc[:, 'TTT':'TAG'].sum(axis=1))
result_wt_mm['Losers'] = (result_wt_mm.loc[:, result_wt_mm.columns.isin(losers)].sum(axis=1)) / (result_wt_mm.loc[:, 'TTT':'TAG'].sum(axis=1))
result_wt_mm

,Unnamed: 0,GenName,ProteinID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,...,GGT,GGC,GGA,GGG,TAA,TAG,Group1,Group2,Gainers,Losers
0,0,ND1,YP_002332271.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,11,7,17,1,...,1,6,7,1,1,0,Vertebrata,Vertebrata:Lepidosauria,0.244582,0.219814
1,1,ND2,YP_002332272.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,6,3,20,0,...,1,4,9,0,0,0,Vertebrata,Vertebrata:Lepidosauria,0.300292,0.169096
2,2,COX1,YP_002332273.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,30,7,22,0,...,11,19,15,3,0,0,Vertebrata,Vertebrata:Lepidosauria,0.227184,0.316505
3,3,COX2,YP_002332274.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,6,2,8,1,...,3,3,2,0,0,0,Vertebrata,Vertebrata:Lepidosauria,0.257642,0.196507
4,4,ATP8,YP_002332275.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,4,2,1,0,...,0,0,0,0,1,0,Vertebrata,Vertebrata:Lepidosauria,0.425926,0.259259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130573,7,ND3,YP_002456366.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,4,3,3,1,...,0,1,2,0,0,0,Vertebrata,Vertebrata:Mammalia,0.252174,0.182609
130574,8,ND4L,YP_002456367.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,3,1,1,0,...,1,3,0,0,1,0,Vertebrata,Vertebrata:Mammalia,0.141414,0.171717
130575,9,ND4,YP_002456368.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,7,9,8,1,...,1,8,7,1,0,0,Vertebrata,Vertebrata:Mammalia,0.239651,0.161220
130576,10,ND5,YP_002456369.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,25,20,12,2,...,1,10,12,3,1,0,Vertebrata,Vertebrata:Mammalia,0.273476,0.209226
130577,11,CYTB,YP_002456371.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,10,15,9,2,...,2,10,11,3,0,0,Vertebrata,Vertebrata:Mammalia,0.236842,0.257895

In [24]:
# процент каноничных генов
canon = result_wt_mm['GenName'].loc[result_wt_mm['GenName'].isin(['ND1', 'ND2', 'ND3', 'ND4', 'ND4L', 'ND5', 'ND6', 'COX1', 'COX2', 'COX3', 'CYTB', 'ATP6', 'ATP8'])].value_counts().sum()
print(canon * 100 / 130578)

88.28286541377567

In [40]:
result_wt_mm.to_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/08_CodonUsageDerived.csv', sep=';')

## Relative synonymous codon usage

In [7]:
rscu = pd.DataFrame(columns = ['Unnamed: 0', 'GenName', 'ProteinID', 'OrganismName', 'Taxonomy', 'Strand', 'TTT','TTC','TTA','TTG','TCT','TCC','TCA','TCG','TAT','TAC','TGT','TGC','TGA','TGG','CTT','CTC','CTA','CTG','CCT','CCC','CCA','CCG','CAT','CAC','CAA','CAG','CGT','CGC','CGA','CGG','ATT','ATC','ATA','ATG','ACT','ACC','ACA','ACG','AAT','AAC','AAA','AAG','AGT','AGC','AGA','AGG','GTT','GTC','GTA','GTG','GCT','GCC','GCA','GCG','GAT','GAC','GAA','GAG','GGT','GGC','GGA','GGG','TAA','TAG'])
direct2 = '/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/codon_usage_rscu'
dirname2 = os.listdir(direct2)
for file in tqdm.tqdm(dirname2):
    try:
        df = pd.read_csv((os.path.join(direct2, file)), sep='\t')
        rscu = rscu.append(df, ignore_index=True)
    except:
        pass
rscu = rscu.loc[~rscu['ProteinID'].isin(exclude_list)]

100%|██████████| 12051/12051 [05:35<00:00, 35.91it/s]

In [8]:
rscu = rscu.merge(Tax, how='left', on='OrganismName')

In [9]:
rscu['Group3'] = 'Eukaryota'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Fungi', na=False)] = 'Fungi'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Viridiplantae', na=False)] = 'Plants'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Metazoa', na=False)] = 'Invertebrates'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata', na=False)] = 'Vertebrata'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata' and 'Chondrichthyes', na=False)] = 'Chondrychthyes'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata' and 'Actinopterygii', na=False)] = 'Actinopterygii'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata' and 'Amphibia', na=False)] = 'Amphibia'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata' and 'Archelosauria')] = 'Reptilia'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata' and 'Lepidosauria', na=False)] = 'Reptilia'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata' and 'Aves', na=False)] = 'Aves'
rscu['Group3'].loc[rscu['Taxonomy'].str.contains('Vertebrata' and 'Mammalia', na=False)] = 'Mammalia'

/home/emulciber/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [10]:
rscu

,Unnamed: 0,GenName,ProteinID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,...,GAG,GGT,GGC,GGA,GGG,TAA,TAG,Group1,Group2,Group3
0,0,ND1,YP_002332271.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.222222,0.777778,1.758621,0.103448,...,0.181818,0.266667,1.600000,1.866667,0.266667,1.0,0.0,Vertebrata,Vertebrata:Lepidosauria,Reptilia
1,1,ND2,YP_002332272.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.333333,0.666667,1.967213,0.000000,...,0.000000,0.285714,1.142857,2.571429,0.000000,0.0,0.0,Vertebrata,Vertebrata:Lepidosauria,Reptilia
2,2,COX1,YP_002332273.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.621622,0.378378,2.030769,0.000000,...,0.200000,0.916667,1.583333,1.250000,0.250000,0.0,0.0,Vertebrata,Vertebrata:Lepidosauria,Reptilia
3,3,COX2,YP_002332274.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.500000,0.500000,1.600000,0.200000,...,0.461538,1.500000,1.500000,1.000000,0.000000,0.0,0.0,Vertebrata,Vertebrata:Lepidosauria,Reptilia
4,4,ATP8,YP_002332275.1,Podarcis muralis,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.333333,0.666667,1.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,Vertebrata,Vertebrata:Lepidosauria,Reptilia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130573,7,ND3,YP_002456366.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.142857,0.857143,0.620690,0.206897,...,0.666667,0.000000,1.333333,2.666667,0.000000,0.0,0.0,Vertebrata,Vertebrata:Mammalia,Mammalia
130574,8,ND4L,YP_002456367.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.500000,0.500000,0.272727,0.000000,...,1.000000,1.000000,3.000000,0.000000,0.000000,1.0,0.0,Vertebrata,Vertebrata:Mammalia,Mammalia
130575,9,ND4,YP_002456368.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,0.875000,1.125000,0.516129,0.064516,...,0.444444,0.235294,1.882353,1.647059,0.235294,0.0,0.0,Vertebrata,Vertebrata:Mammalia,Mammalia
130576,10,ND5,YP_002456369.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,1.111111,0.888889,0.757895,0.126316,...,0.363636,0.153846,1.538462,1.846154,0.461538,1.0,0.0,Vertebrata,Vertebrata:Mammalia,Mammalia
130577,11,CYTB,YP_002456371.1,Lama guanicoe,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",1,0.800000,1.200000,0.931034,0.206897,...,0.666667,0.307692,1.538462,1.692308,0.461538,0.0,0.0,Vertebrata,Vertebrata:Mammalia,Mammalia

In [11]:
rscu.to_csv('/home/emulciber/MitoClub/mtDnaInvertebrate/Body/2Derived/08_CodonUsageDerived_RSCU.csv', sep=';')